:root {
  --background: #16171d;
  --borderColor: rgb(97, 97, 97);
  --themeColor: #9b58ff;
  --codeBack: #011627;

  --headerHeight: 45px;
  --searchWidth: 320px;
  background-color: var(--background);
  color: white;
}

html,
body {
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  overscroll-behavior: none;
}

a {
  color: var(--themeColor);
  text-decoration: none;
}
